@import "breakpoints";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$primary-color: #ff0003;
$bg-color: #28282b;
$gradient-color: linear-gradient(
  118.06deg,
  #ed562c 3.55%,
  $primary-color 104.37%
);
$white: white;
$gray: rgb(172, 172, 172);
$light-gray: rgb(204, 204, 204);
$dark-gray: #303034;
$fs-12: 1.2rem;
$fs-14: 1.4rem;
$fs-16: 1.6rem;
$fs-17: 1.7rem;
$fs-18: 1.8rem;
$fs-20: 2rem;
$fs-22: 2rem;
$fs-24: 2.4rem;
$fs-26: 2.6rem;
$fs-28: 2.8rem;
$fs-30: 3rem;
$fs-32: 3.2rem;
$fs-36: 3.6rem;
$fs-40: 4rem;
$fs-48: 4.8rem;
$fs-60: 6rem;
$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;
$fw-900: 900;
$plr: 24rem;

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins";
  font-style: normal;
  background-color: $bg-color;
  color: $white;
  position: relative;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 12;
  padding: 2rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include sm {
    padding: 1rem;
  }

  .nav-logo {
    img {
      width: 14rem;

      @include sm {
        width: 12rem;
      }
    }
  }

  .nav-menus {
    @include sm {
      position: absolute;
      top: 10rem;
      left: 0;
    }

    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2.5rem;

      li {
        list-style: none;

        a {
          font-size: $fs-18;
          color: $light-gray;
          font-weight: $fw-500;
          text-decoration: none;

          @include sm {
            font-size: $fs-16;
          }
        }
      }
    }

    .nav-main-menu {
      position: relative;
      background: rgb(0.1, 0.1, 0.1, 0.1);
      backdrop-filter: blur(5rem);
      padding: 2.3rem 10rem 2.3rem 3rem;
      border-radius: 4rem;
      margin-top: 1.2rem;
      transition: all ease-in-out 0.3s;

      @include sm {
        padding: 1.7rem;
        padding-right: 5.5rem;
        width: 100vw;
      }

      &::after {
        transition: all ease-in-out 0.3s;
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 10.5%;
        height: 100%;
        background: $gradient-color;
        border-radius: 50%;
        z-index: 2;

        @include sm {
          width: calc(10% - 0.2vw);
        }
      }

      .nav-searchbar-input {
        display: none;
      }

      .search-icon {
        position: absolute;
        z-index: 3;
        font-size: $fs-20;
        height: 100%;
        cursor: pointer;
        top: 36.4%;

        @include sm {
          font-size: $fs-18;
          top: 32%;
        }

        &.fa-magnifying-glass {
          display: block;
          right: 3.9%;

          @include sm {
            right: 3.5%;
          }
        }

        &.fa-xmark {
          display: none;
          right: -3.9%;
        }
      }

      &.nav-main-menu-searchbar-active {
        &::after {
          width: 100%;
          border-radius: 4rem;
        }

        .nav-searchbar-input {
          position: absolute;
          top: 5%;
          left: 0;
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          z-index: 4;
          padding: 2.3rem 3rem;

          @include sm {
            top: -3%;
          }

          input {
            background: transparent;
            font-size: $fs-18;
            color: $light-gray;
            outline: none;
            border: none;
            width: 70%;

            &::placeholder {
              color: $light-gray;
              opacity: 0.6;
            }
          }

          p {
            font-size: $fs-14;
          }
        }

        .search-icon {
          &.fa-magnifying-glass {
            display: none;
          }

          &.fa-xmark {
            display: block;

            @include sm {
              right: 3%;
              top: 7rem;
            }
          }
        }
      }

      ul {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4rem;

        @include sm {
          gap: 2.2rem;
        }

        li {
          list-style: none;
          cursor: pointer;
          font-size: $fs-18;
          font-weight: $fw-500;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 0.8rem;

          i:last-child {
            font-size: $fs-12;
          }
        }
      }
    }

    .nav-submenu {
      position: absolute;
      top: 15rem;
      left: 50.9%;
      transform: translate(-50%, -0%);
      width: 69rem;
      padding: 2.5rem;
      backdrop-filter: blur(4rem);
      background: rgb(255, 255, 255, 0.1);
      border-radius: 2rem;
      z-index: 10;
      display: none;

      @include sm {
        width: 55rem;
        left: 49.9%;
        top: 12rem;
      }

      &.nav-submenu-active {
        display: block;
      }

      .nav-submenu-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        background: rgb(0.2, 0.2, 0.2, 0.2);
        padding: 1rem 1.5rem;
        border-radius: 1rem;

        h4 {
          font-size: $fs-18;
          font-weight: $fw-500;
        }

        p {
          font-size: $fs-16;
          font-weight: $fw-500;
          cursor: pointer;
        }
      }

      .nav-submenu-content {
        margin-top: 3rem;
        margin-bottom: 2.5rem;

        ul {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          flex-wrap: wrap;
          width: 100%;
          gap: 1rem;

          li {
            width: 31.6%;
            list-style: none;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            font-size: $fs-17;
            gap: 1rem;
            cursor: pointer;
            transition: all ease 0.5s;
            padding: 0.8rem 0.4rem;

            &:hover {
              background: rgb(255, 255, 255, 0.2);
              border-radius: 4rem;
            }

            img {
              width: 4.5rem;
              height: 4.5rem;
              border-radius: 50%;
              object-fit: cover;
            }
          }
        }
      }

      .nav-submenu-prepaid-card {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 3rem;

        .nav-submenu-gift-card {
          width: 32%;
          text-align: center;

          img {
            width: 13rem;
            height: 4rem;
            object-fit: cover;
          }

          p {
            font-size: $fs-16;
            font-weight: $fw-500;
            margin-top: 1rem;
          }
        }
      }
    }
  }

  .nav-right {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 3rem;

    .fa-cart-shopping {
      font-size: $fs-26;
      cursor: pointer;
    }
    .fa-user {
      font-size: $fs-24;
      cursor: pointer;
      color: rgb(81, 81, 193);
      background: $bg-color;
      padding: 1rem 1.2rem;
      border-radius: 1.2rem;
    }
  }
}

.hero-section {
  position: relative;
  background-image: url("/hero.jpg");
  background-size: cover;
  height: 80rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0rem $plr;
  gap: 1rem;
  overflow: hidden;

  @include sm {
    height: 60rem;
    padding: 0rem 1rem;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0rem;
    left: -0.1rem;
    width: 100%;
    height: 8rem;
    background: $bg-color;
    z-index: 2;
    transform-origin: left bottom;
    transform: skewY(1.8deg);

    @include sm {
      bottom: -1rem;
      height: 6rem;
      left: 0rem;
    }
  }

  p {
    background: $bg-color;
    padding: 0.5rem 1rem;
    font-size: $fs-16;
    border-radius: 0.8rem;
    font-weight: $fw-500;

    @include sm {
      margin-top: 12rem;
    }
  }

  h1 {
    font-size: $fs-48;
    width: 50%;

    @include sm {
      font-size: $fs-36;
      width: 100%;
    }
  }

  .hero-section-price {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 3rem;

    p {
      background: $primary-color;
      font-size: $fs-18;
      font-weight: $fw-600;
      border-radius: 0.8rem;
      padding: 0.5rem 2.5rem 0.5rem 1rem;
      position: relative;
      clip-path: polygon(0% 0%, 100% 0%, 87% 0%, 100% 100%, 0 100%, 0% 50%);

      @include sm {
        margin-top: 0rem;
        font-size: $fs-16;
      }
    }

    h4 {
      font-size: $fs-48;
      @include sm {
        font-size: $fs-32;
      }
    }
  }
}

.trending-section {
  padding: 2rem $plr;

  @include sm {
    padding: 1rem;
  }

  .trending-section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      font-size: $fs-32;
    }

    button {
      outline: none;
      border: 0.01rem solid $gray;
      padding: 1.2rem 2rem;
      background: $dark-gray;
      color: $white;
      border-radius: 0.8rem;
      cursor: pointer;
      font-size: $fs-18;
    }
  }

  .trending-section-body {
    padding: 4rem 0rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;

    .trending-item-card {
      width: 31.5%;

      @include sm {
        width: 100%;
        margin-bottom: 3rem;
      }

      .item-image {
        position: relative;
        overflow: hidden;
        img {
          width: 100%;
          border-radius: 1rem;
          height: 26rem;
          object-fit: cover;

          @include sm {
            height: 28rem;
          }
        }

        p {
          position: absolute;
          bottom: 0.5rem;
          left: 0;
          background: $primary-color;
          font-size: $fs-16;
          font-weight: $fw-600;
          border-radius: 0.8rem;
          padding: 0.4rem 2.2rem 0.4rem 0.8rem;
          clip-path: polygon(0% 0%, 100% 0%, 87% 0%, 100% 100%, 0 100%, 0% 50%);

          @include sm {
            font-size: $fs-18;
          }
        }
      }

      .item-detail {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 1rem;

        h3 {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: 1rem;
          font-size: $fs-18;

          @include sm {
            font-size: $fs-24;
          }

          span {
            color: $gray;
            border: 0.1rem solid $gray;
            padding: 0.2rem 0.5rem;
            font-size: $fs-14;
            border-radius: 0.5rem;
          }
        }

        p {
          font-size: $fs-22;
          font-weight: $fw-600;

          @include sm {
            font-size: $fs-24;
          }
        }
      }
    }
  }
}

.blur-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgb(0.4, 0.4, 0.4, 0.4);
  z-index: 10;
  display: none;

  &.blur-bg-active {
    display: block;
  }
}

/*custom scrollbar*/
/* width */
::-webkit-scrollbar {
  width: 0.3rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: $white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $primary-color;
  border-radius: 1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $primary-color;
  border-radius: 5rem;
}

//media queries
@include sm {
  html {
    font-size: 40%;
  }
}
@include sm-lg {
  html {
    font-size: 28%;
  }
}
@include sm-xl {
  html {
    font-size: 30%;
  }
}
@include md {
  html {
    font-size: 38%;
  }
}
@include md-lg {
  html {
    font-size: 45%;
  }
}
@include md-xl {
  html {
    font-size: 50%;
  }
}
@include lg {
  html {
    font-size: 58%;
  }
}
@include xl {
  html {
    font-size: 58%;
  }
}
@include xxl {
  html {
    font-size: 68%;
  }
}
@include xxxl {
  html {
    font-size: 78%;
  }
}
